{% extends 'main/main.html' %} 

{% block content %}

<div class="row">

    {% for photo in photos %}
    <div class="col-md-4">
        <div class="card my-2 shadow">
            <img class="image-thumbail" src="{{photo.image.url}}" alt="Card image cap">

            <div class="card-body">
                <small>Category: {{photo.category.name}}</small>
            </div>
            
        </div>
    </div>
    {% empty %}
    <h3>No photos...</h3>
    {% endfor %}








</div>

{% endblock %}
